<%- include("partials/header.ejs") -%>

  <h1>About</h1>
  <p>This website can serve as personal website or a public website. I make this blog website for practice purpose.</p>

<%- include('partials/footer.ejs') -%>