<%- include('partials/header.ejs') -%>
<h1> Compose </h1>

<form action='/compose' method="post">
  <div class="form-group">
    <label for="postTitle"> Title </label>
    <input class="form-control" type="text" name="postTitle" placeholder="Enter Your Post Title Here">
    <label for="postBody">Post</label>
    <textarea  class="form-control "type="text" name="postBody"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Submit Post</button>
</form>

<%- include('partials/footer.ejs') -%>