<%- include("partials/header.ejs") -%>
  <h1>Contact Us</h1>
  <p>
    For any question you can email me at 
    <a href="mailto: aimanirfan1017@gmail.com">aimanirfan1017@gmail.com.</a>
  </p>

<%- include('partials/footer.ejs') -%>